*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body{
    background-image: url(./woman.jpg);
}

.Navbar{
    position: relative;
    background-color: snow;
    display: flex;
    justify-content: space-between;
}

.menu{
    position: relative;
    display: flex;
    list-style: none;
    gap: 80px;
    padding-right: 20%;
    padding-top: 1%;
}

.menu > a{
    text-decoration: none;
    color: rgb(24, 23, 23);
}


#home{
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-container{
    margin-left: 40%;
    margin-top: 10%;
}

#sobre{
    width: 100%;
    height: 40%;
    background-color: rgba(255, 255, 255, 0.253);
    border: 1px solid black;
    display: flex;
    align-items: initial;
    position: relative;
    overflow: hidden;

}

#text-cointainer    {
    text-align: center;
}

.menu a:hover{
    border-bottom: 6px solid #dc375a;
}

.logo{
    position: relative;
    padding-left: 20%;
    color:#dc375a;
}
h3{
    color: #333333;
    font : 15px / 26px 'Open Sans', Verdana, sans-serif;
}

#promo p{ /* Vinicius se de bugu fui eu */
    float: left;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    padding: 15px;
    color: #ffffff;
}


#promo{ /* Vinicius se de bugu fui eu */
    background-color:#dc375a;
    padding:20px ;
    overflow:hidden;
    width: 80%;
}
.wrap{/* Vinicius se de bugu fui eu */
    width:86% ;
    margin:0 auto;
}
 

.Ms { /* Vinicius se de bugu fui eu */
    float: left;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    padding: 15px;
    color: #ffffff;

}


.button{ /* Vinicius se de bugu fui eu */
    float: right;
    background-color: #fcb8c6;
    color: #dc375a;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 40px;
    font-weight: 300;
    text-transform: uppercase;
    border: 0;
    display: block;
    box-shadow: 0 5px 0 #a81232;
    -moz-box-shadow: 0 5px 0 #a81232;
    border-radius: 3px;
    outline:none ;

}
.button a :hover{ /* Vinicius tbm */
    outline: none;

}



.carrousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    max-width: 50vw;
    min-height: 400px;
    border: 2px solid #333;
    border-radius: 0.5rem;
    margin: 0 auto;
    position: relative;
    animation: carousel 20s infinite linear;
}

.carrousel-items {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    
}

.carrousel-item {
    flex: none;
    scroll-snap-align: start;
    border: 1px solid #0735ff;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background: #eee;
    border-right: 1px solid #ccc;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.carrousel-item img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #333;
}

.carrousel-indicator {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: 100%;
}

.carrousel-indicator li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carrousel-indicator li.active {
    background-color: #333;
}

.carrousel-button {
    padding: 1rem;

}
/* @keyframes carousel {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
} */
.h2{
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 30px;
    margin-left: 13.222%;
    text-transform: uppercase;
}

